/env
.env
/.env
venv
venv/*
env
*/__pycache__/
*/__pycache__/
*/.pytest_cache/
*/.pytest_cache/
*/.mypy_cache/
*/.mypy_cache/
*/.coverage
*/.coverage
*/.coverage.*
*/.coverage.*
*/.cache
*/.cache
*/.tox
*/.tox
*/.eggs
*/.eggs
*/.ipynb_checkpoints
*/.ipynb_checkpoints
*/.idea
*/.idea
*/.vscode
*/.vscode
*/.DS_Store
*/.DS_Store
*/.git
*/.git
*/.gitignore
*/.gitignore
*/.gitattributes
*/.gitattributes
*/.gitmodules
*/.gitmodules
*/.gitlab-ci.yml
*/.gitlab-ci.y
data
/data
static
/static
uploads
/uploads
/nginx/nginx.key
/nginx/nginx-certificate.crt
db.sqlite3